services:
  postgres:
    image: postgres:16
    container_name: identity-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Postgres123.
      POSTGRES_DB: identity
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      retries: 5
      timeout: 5s

  identity-api:
    build:
      context: ..
      dockerfile: src/services/identity/IdentityService/IdentityService.Api/Dockerfile
    container_name: identity-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__IdentityDb=Host=localhost;Port=5433;Database=identity;Username=postgres;Password=Postgres123.
      - Jwt__Secret=YourSuperSecretKey123!
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "5000:80"

volumes:
  postgres_data:
